.keys {
  min-height: 98vh;
  display: -webkit-flex;
  -webkit-align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  border: 2px solid red;
}

.key {
  min-width: 48px;
  min-height: 48px;
  font-size: 4rem;
  text-align: center;
  line-height: 2.4rem;
  padding: 15px;
  border: 2px solid yellow;
  transition: all 0.1s;
}

.playing {
  transform: scale(1.1);
}
