body {
  background-color: #5CA793;
}

.main-container {
  display: -webkit-flex;
  -webkit-align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
}

.header {
  text-align: center;
  font-family: 'Francois One', sans-serif;
  display: -webkit-flex;
  -webkit-align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.header__title {
  color: white;
  line-height: 4.3rem;
  font-size: 4.2rem;
  font-weight: normal;
  margin: 0;
  letter-spacing: 0.06rem;
}

.header__instructions {
  letter-spacing: 0.07rem;
  color: #F7D361;
  font-size: 1.4rem;
  margin: 0 0 0.5rem 0;
  padding: 0 30px;
}

.keyboard {
  width: 45%;
  margin: 15px auto;
}

.metronome-dot {
  animation: blinker 3s ease-in-out infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

.key {
  transition: all 0.08s;
  cursor: pointer;
}

.playing {
  transform: scale(1.01);
}

@media (max-width: 1050px) {
  .keyboard {
    width: 60%;
  }
}

@media (max-width: 700px) {
  .header__title {
    font-size: 4.5rem;
    line-height: 3.9rem;
    margin: 0 30px 20px 30px;
  }

  .keyboard {
    width: 75%;
  }
}
